matplotlib==3.1.0
Cartopy==0.17.0
pandas==0.23.4
cvxpy==1.0.24
numpy==1.15.1
seaborn==0.9.0
statsmodels==0.9.0
scipy==1.1.0
helpful_utilities.egg==info
click==6.7
observational_large_ensemble.egg==info
patsy==0.5.0
